a:hover, nav a:hover, .seccion1 a:hover{
  color: rgb(214, 188, 243);
}
html{
  height: 100%;
}
h2 {
  color: #b96fa3;
}
.fuente{
  display: flex;
  flex-direction: column;
  background-color:#fffffff5;
  font-family:courier new;
  margin: 0;
  min-height: 100%;
  align-items: center;
  }

#menu{
  display:flex;
  align-items:center;
  background:#f5f5f5;
  opacity: 0.8;
  height:50px;
  justify-content: space-evenly;
  }

.navegacion {
  color:rgb(5, 52, 72);
  font-weight: bold; 
}

.principal_title{
  color:#b96fa3;
  text-align:center;
  font-size: 30px;
}
.centrarimg{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenes{
  
  width: 80%;
}


.seccion1{
  margin-top:30px;
  padding:10px 5px 10px 5px;
  text-align: center;
  font-size: 35px;
}

.mascota{
  display: flex;
  flex-direction: column;
  grid-template-columns: max-content; 
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  margin: 40px 15px 0px 15px;
}
.imgprod{
  width: 400px;
  height: 250px;
}
.licontacto{
  display: flex;
  list-style: none;
  margin: 10px;
  text-align: left;
  align-items: center;
}
.img{
  width: 45px;
  height: 45px;
}

.testimonio {
  background-color: rgb(240, 229, 229);
  opacity:0.65;
  width:55%;
  margin-top: 50px;
  padding: 10px 15px 10px 15px;
}
.banner {
  background-color: #f8e71c;
  color: #333;
  padding: 20px;
  text-align: center;
}


.banner h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.negritas{
  font-weight: bold;
}

@media only screen and (max-width: 700px){

  .fuente{
      background-color:#fffefc;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: small;
  }

  #menu{
      height: inherit;
      flex-direction: column;
      align-items: center;
  }
  .navegacion {
      font-weight: normal; 
      height: auto;
      width: inherit;
      text-align: center;

  }
  .img{
      width: 30px;
      height: 30px;
  }
  .principal_title{
      font-size: 15px;

  }
  .seccion1{
      margin-top:15px;
  }   
  
  
  }
